.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totalCountButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 150px;
  width: 150px;
  background: #f3f05b;
  border: none;
  border-radius: 40px;
}
