.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totalCountButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
